body{
    margin: 0;
    padding: 0;
    cursor: url(target.png) 32 32, auto;
}
#sky{
    height: 500px;
    background-image: linear-gradient(#aaf, #334);
}
#lake{
    height: 200px;
    width: 100%;
    background-image: linear-gradient(#456, #567);
    position: relative;
}
.duck{
    background-image: url(duck.png);
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 100;
    animation: sail 30s linear infinite;
    transition: 10s;
}
.bullets{
  background-image: url(bullet.png);
  width: 64px;
  height: 64px;
  transform: scaleX(-1);
  display: inline-block;
}
#bullets{
  transform: translate(-130%, 70%) scaleX(-1);
}
.ducks-killed{
  background-image: url(duck.png);
  width: 64px;
  height: 64px;
  display: inline-block;
  transform: translate(100%, 30%) scaleX(-1);
}
#ducks_killed{
  transform: translate(-100%, 40%) scaleX(-1);
}
@keyframes sail{
    0%{left: 0%; transform: scaleX(-1);}
    50% {left: 100%;transform: scaleX(-1);}
    50.1% {left: 100%;transform: scaleX(1);}
    100%{left: 0%; transform: scaleX(1)}
}
